@import "../../../assets/css/_structure.less";

@darkred: rgb(164, 28, 49);
// #a41c31
@bg: black;
@lighter-bg: #2B2E34;
@lighter-bg-font-color: @darkred;
// phasenpruefer grau d9d9d9

// conference specific styles here

@brand-primary:         @darkred;
@text-color:            #fff;

@link-color:            #000;
@link-hover-color:      lighten(@link-color, 15%);

@navbar-default-color:  @lighter-bg-font-color;
@navbar-default-bg:     @lighter-bg;

@navbar-default-link-color:       #FFF;
@navbar-default-link-hover-color: #777;


// colors of the schedule ("Fahrplan") widget below the video-player
//
//  @schedule-now:       @brand-danger;
//  @schedule-now-bg:    fade(lighten(@brand-danger, 5%), 60%);
//  @schedule-border:    lighten(@brand-primary, 50%);
//
//  @schedule-room:      darken(@brand-primary, 15%);
//  @schedule-author:    #444;
//
//  @schedule-selected-room: lighten(@brand-success, 10%);
//
//  @schedule-daychange:    darken(@brand-primary, 20%);
//  @schedule-daychange-bg: fade(white, 30%);
//
//  @schedule-gap:          darken(@brand-primary, 20%);
//  @schedule-gap-bg:       fade(white, 30%);
//
//  @schedule-pause:        white;
//  @schedule-pause-bg:     lighten(black, 85%);


@navbar-height: 52px;
@navbar-content-height: 36px;
@navbar-content-margin: (@navbar-height - @navbar-content-height) / 2;
// TODO mehr abstand oben

body {
  background-color: @bg;

  /* TODO improve cursor - TODO auf "solid" vorlage basieren */
  a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: url("assets/min/phasenpr_cursor_wh.svg"), auto;
  }

  .banner {
    margin: 50px 0 15px 0;
    text-align: center;

    @media (max-width: @screen-xs-max) {
      margin-top: 20px;

      img {
        width: 80%;
        height: auto;
      }
    }
  }

  .about {
    a {
      color: @darkred;
    }
  }

  &.multiview {
    .cell {
      color: black;
    }
  }
}

.panel {
    background-color: @lighter-bg;
    color: white;
    border-color: #d9d9d9;
    span, a {
    color: white;
    }

  &.panel-default {
    background-color: @lighter-bg;
    color: white;
    border-color: #d9d9d9;
  }

  .panel-heading {
    color: white;
    background-color: @lighter-bg;
  }
}

nav {
  .navbar-header {
    .navbar-brand {
      .svg-replace("assets/min/f-34c3_streaming.svg");
      width: 365px;
      height: @navbar-content-height;
      //padding: 10px 0;
      //margin: 5px 5px 5px -5px ;
      padding:  0;
      margin: @navbar-content-margin 0px 0px @navbar-content-margin;
      background-position: 60px 50%;

      .icon {
        background-image: url("assets/min/voctocat.svg");
        background-size: @navbar-content-height @navbar-content-height;
        background-position: 0 50%;
        width: @navbar-content-height;
        height: @navbar-content-height;
        margin: 0 @navbar-content-margin 0 15px;
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .navbar-header {
      .navbar-brand {
        .svg-replace("assets/min/f-34c3_streaming.svg");
        width: 100%;
        height: @navbar-content-height;
        margin: @navbar-content-margin 0 0 0;
        background-position: center;

        .icon {
          display: none
        }
      }
    }

    .navbar-right {
      text-align: right;
    }

    // TODO page start is under navbar when two rows
  }


  .button-wrapper {
    margin: @navbar-content-margin 0 0 0;
    padding: 0px 0px 0px 15px;
    > .btn {
      height: @navbar-content-height;
      padding: 0;
      margin: 0 0 0 15px;

      background-color: transparent;
      border: none;

      font-family: sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: @darkred;

      //      &.btn-ssl {
        //        .svg-replace("assets/min/tls.svg");
        //        .btn-warning {
          //          .svg-replace("assets/min/tls_disabled.svg"); /* TODO */
        //        }
      //      }
      //      // TODO use only when screen is big enough
      //      &.feedback {
        //        .text-replace('Feedback');
      //      }
      //      &.releases {
        //        .text-replace('Releases');
      //      }
      //      &.about {
        //        .text-replace('About');
      //      }
      //
      // ELSE
      //
      line-height: 1;
      margin-top: 3px;

      //    &.feedback {
        //      .svg-replace("assets/min/f-feedback.svg");
        //      width: 162px;
      //    }
      //    &.releases {
        //      .svg-replace("assets/min/f-releases.svg");
        //      width: 122px;
      //    }
      //    &.about {
        //      .svg-replace("assets/min/f-info.svg");
        //      width: 80px;
      //    }
    }
  }
}

.overview {
  .group h2, .recordings h2 {
    margin: 25px 0 18px 0;
  }

	.group-live h2 > span {
		.svg-replace("assets/min/f-live.svg");
    display: inline-block;
    width: 79px;
	}
	.group-specials h2 > span {
		.svg-replace("assets/min/f-specials.svg");
    display: inline-block;
    width: 164px;
	}
	.group-live-music h2 > span {
		.svg-replace("assets/min/f-live_music.svg");
    display: inline-block;
    width: 208px
	}
	.recordings h2 > span {
		.svg-replace("assets/min/f-recordings.svg");
    display: inline-block;
    width: 211px
	}

  .room .panel-heading {
    font-weight: bold;
  }
}

.nav-tabs {
  > li > a {
    font-weight: bold;
    background-color: @lighter-bg;
    color: white;
    border-color: #d9d9d9;
  }

  > li.active > a {
    color: white;
    background-color: @darkred;
  }

  > li:hover > a {
    color: white;
    background-color: lighten(@lighter-bg, 20%);
  }

  > li.active:hover > a {
    color: white;
    background-color: darken(@darkred, 20%);
  }
}

body {
.schedule {
  .now {
    background-color: rgba(80,80,80,0.7);

    span {
    font-weight: bold;
    color: white;
    }
  }

  .room {
    .block.pause h3 {
      color: black;
    }

    h4 {
      color: white;
    }

    h5 {
      color: white;
      font-weight: bold;
    }

    &.highlight .block {
      background-color: #a41c31;

      &.pause h3 {
        color: white;
      }
    }
  }

  h4 {
    font-weight: bold;
  }

  h3 {
    color: white;
  }
}
}

#switcher {
    .notes {
    background-color: @lighter-bg;

    &.well {
      margin-top: 30px;
      margin-bottom: 30px;

      h3 {
        margin-top: initial;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .formats.row, .directlinks .row {

    /* no the best idea but works for me I guess :\ */

    @media (min-width: @screen-lg-min) {
      .col-lg-3 {
        width: 40%;
      }
    }
    @media (min-width: @screen-md-min) {
      .col-md-4 {
        width: 48%;
      }
    }
    @media (max-width: @screen-xs-min) {
      .col-xs-12 {
        .btn-group {
          a {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

.text-replace(@text) {
  background-image: none;
  display: inline;
  span {
    display: none;
  }

  &:after {
    content: @text;
  }
}

.svg-replace(@file, @width: auto, @height: auto) {
	background-image: url(@file);
	background-repeat: no-repeat;
  background-size: @width @height;
	color: transparent !important;
	background-position: center;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

